extends ../_layout

block content
	.page-header
		h3 My SelfKey Wallet
		
		pre= user

		for item in user.attributes
			pre= item.value
		br
		img(src=`${imagebase}${user.selfkey_wallet}`, width='540px')
